%li.highlight[lead]{style: "position:relative;"}
  %ul.tools
    - if can?(:update, lead)
      %li= link_to_edit(lead)

    - if %w(converted rejected).include?(lead.status)
      %li
        %font{ :color => 'silver' }= t :convert
    - elsif can?(:update, lead)
      %li= link_to_convert(lead)

    - if lead.status == "rejected"
      %li
        %font{ :color => 'silver' }= t :reject
    - elsif can?(:update, lead)
      %li= link_to_reject(lead)

    - if shown_on_landing_page?
      %li= link_to_discard(lead)

    - if can?(:destroy, lead)
      %li= link_to_delete(lead)

  %div
    .lead-info-box{style: "width:10%;"}
      = lead.last_activity_at.try(:strftime, "%e %b %Y") || "--"
      %br
      = timeago(lead.created_at)
    .lead-info-box{style: "width:10%;"}
      %strong
        = link_to lead.full_name || "--", lead
      %br
      = lead.listing_info_city || lead.buying_info_city || "--"
    .lead-info-box{style: "width:15%;"}
      = lead.phone || "--"
      %br
      = lead.email || "--"
    .lead-info-box{style: "width:10%;"}
      - if lead.status
        .strip{:class => lead.status}= t lead.status
      - else
        .strip{:style => "color: gray;"}= t :other
      %br
      = lead.title || "--"
    .lead-info-box{style: "width:20%;"}
      Tasks:
      = lead.tasks.count
      &nbsp;|&nbsp;
      Sent Emails:
      = lead.emails.count
      %br
      Listings Viewed:
      = lead.viewed_listings_count
    .lead-info-box{style: "width:10%;"}
      &nbsp;
      %br
      = lead.assignee.try(:full_name) || "Not Assigned"

    = hook(:lead_bottom, self, :lead => lead)
