
= styles_for :task, :account
- unless @my_leads.empty?
  .title
    %span#registrations_title My Leads
  %ul.list#registrants
    %div{style: "background:#e5e5e5;margin-top:10px;"}
      .lead-info-box{style: "width:10%;font-weight:bold;"}
        Last Activity
        %br
        Added to System
      .lead-info-box{style: "width:10%;font-weight:bold;"}
        Lead Name
        %br
        Location
      .lead-info-box{style: "width:15%;font-weight:bold;"}
        Phone
        %br
        Email
      .lead-info-box{style: "width:10%;font-weight:bold;"}
        Status
        %br
        Title
      .lead-info-box{style: "width:20%;font-weight:bold;"}
        &nbsp;
        %br
        Lead Stats
      .lead-info-box{style: "width:10%;font-weight:bold;"}
        &nbsp;
        %br
        Owner
  .homepage-leads
    - @my_leads.each do |lead|
      = render :partial => "leads/lead", locals: {lead: lead, custom_template: "leads/index_long"}
- else
  There are no leads assigned to you
.title
  %span#registrations_title New Registrants
%ul.list#registrants
  - unless @new_users.empty?
    = render :partial => "contacts/contact", :collection => @new_users
  - else
    There were no new registrations in the last 24 hours

.title
  %span#active_title Active Users
%ul.list#active
  - unless @active_users.empty?
    = render :partial => "contacts/contact", :collection => @active_users
  - else
    There are no active users

.title_tools
  = link_to_inline(:options, url_for(:action => :options), :text => t(:options))

.title
  %span#title #{t :recent_activity}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
.remote#options{ hidden }

%ul.list#activities
  - unless @activities.empty?
    = render :partial => "activity", :collection => @activities
  - else
    #{t :no_activity_records}
