- view   ||= controller.controller_name
- action ||= controller.action_name
- sidebar = "#{view}/sidebar_#{action}"
- sidebar = "admin/#{sidebar}" if controller.class.to_s.starts_with?("Admin::")

= content_for :sidebar
  .panel.lists
    .caption New Lead
    %ul
      %li
        = link_to "Create a New Lead", leads_path(new: true)
  - begin
  = render sidebar
  - rescue MissingTemplate

= render "lists/lists"
= render "shared/recently"
